<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置service-->
    <bean class="pack01.service.impl.AccountServiceImpl" id="service"/>
    <!-- 配置dao-->
    <bean class="pack01.dao.impl.AccountDaoImpl" id="dao"/>
</beans>
